/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 10px;
  color: #1e96e0;
  border-radius: 4px;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #f6050d;
  border-radius: 4px;
}

.navbar-expand-lg {
  color: #f6050d;
}

.navbar-nav{
  color: #f6050d;
}
.nav-link{
  color: #f6050d;
}

.navbar-expand-lg .navbar-nav .nav-link

nav a:hover {
  color: white;
  background-color: #43f125;
}
nav a:active {
  background-color: black;
}
